<html>
  <title>SINATRA'S STAGE</title>
  <head></head>
  <body>
    <p>
      <%= msg%>
      The SECRET NUMBER is <%= num %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>