<html>
  <title>SINATRA'S STAGE</title>
  <head>
    <%=css%>
    GUESS A RANDOM NUMBER
  </head>
  <body>
    <p>
      <%= msg%>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <h6><a href=".">reload</a></h6>
  </body>
</html>